// Variables
$light: #FFFFFF;
$dark: #333;
$dark-dark: rgb(27, 27, 27);
$dark-light: rgb(133, 133, 133);
$black: #000000;
$tertiary:#D1E751;
$secondary: #4DBCE9;
$primary: rgb(0, 157, 219);
$shadow: 0 1px 5px rgba(104,104,104,0.8);;
$tag-background: rgb(0, 170, 9);
$tag: rgb(0, 255, 13);
$category-tag-background: rgb(198, 246, 255);
$category-tag: rgb(129, 236, 255);


html{
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: $dark;
}

body{
    margin: 5px 20px;
    line-height: 1.4;
}

.btn{
    position:absolute;
    text-decoration: none;
    color: Black;
    border-bottom: 0.5em solid $secondary;
    bottom:0;
    right:0;
    margin:1rem;
    font-size: 1vw;
}
.btn:hover{
    
    text-decoration: none;
    color: Black;
    border-bottom: 0.5em solid $tertiary;
    bottom:0;
    right:0;
    margin:1rem;
    font-size: 1vw;
}

img{
    max-width:100%
}

.wrapper{
    display: grid;
}

// Header------------------------------------------------------------------------------------------
.header{
    display:grid;
}

// Header Main
.header-main{
    background-color: $black;
    display: grid;
    grid-gap: 20px;
    padding:0;
    grid-template-columns: repeat(8,1fr);
    >div{
        display: block;
        text-align: center;
        max-height: 4.5rem;
        color: $light;
        font-size: 1.1rem;
        
    }    
    .logotype{
        grid-column: 1/8;
        display:flex;
        align-items: center;
        img{
            flex:1;
            box-sizing: border-box;
            margin: auto;
            padding: 0.5rem;
        }
        p{
            text-align: left;
            height: 60%;
            margin: 0;
            flex:1;
            font-size: 150%;
        }
    }
}


.user-dropdown{
    display: inline-block;
    position: relative;
    margin:auto;
    .user{
        grid-column: 8/9;
        display:flex;
        align-items: center;
        i{
            flex:1;
            box-sizing: border-box;
            margin: auto;
            padding: 0.5rem;
        }
        p{
            text-align: left;
            margin: auto;
            padding: 0 1.2rem 0 0 ;
            flex:1;
            font-size: 110%;
        }
    }
    &:hover .user-dropdown-content{
        display:flex;
        flex-direction: column;
    }
    // User Dropdown
    .user-dropdown-content{
        display: none;
        position: absolute;
        box-sizing: border-box;
        background-color: #f9f9f9;
        width: inherit;
        right:0;
        min-width: 15rem;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: .6rem .6rem;
        z-index: 1;
    }
    .user-dropdown-content-item {
        flex:1;
        text-decoration: none;
        padding: 1rem;
        color:$black;
    }
    .user-dropdown-content-item:hover {
        flex:1;
        text-decoration: none;
        padding: 1rem;
        color:$light;
        background-color:$dark;
    }
}

// Header Navigation
.header-nav{
    background: $black;
    border-bottom: 0.1rem solid $secondary;
    ul{
        display: grid;
        grid-gap: 20px;
        padding:0;
        list-style:none;
        grid-template-columns: repeat(5,1fr);
    }

    a{
        display: block;
        text-decoration: none;
        text-align: center;
        color: $dark;
        text-transform: uppercase;
        font-size: 1.1rem;
    }
    a:hover{
        display: block;
        text-decoration: none;
        text-align: center;
        color: $light;
        text-transform: uppercase;
        font-size: 1.1rem;
    }
}

// Content----------------------------------------------------------------------------------------

.content{
    display:flex;
    flex-direction: column;
    .filter-bar{
        min-height: 2rem;
        margin: 1rem 0;
        display:grid;
        grid-gap: 2%;
        width:100%;
        grid-template-columns: 7% 40% 40% 7%;
        .select-style{
            grid-column: 2/3;
            min-height: 2rem;
            border: 0.1rem solid $primary;
            border-radius: 0.1rem;
            overflow: hidden;
            background: #fafafa 90% 50%;
        }
        
        >input{
            min-height: 2rem;
            grid-column: 3/4;
        }
    }
    .bookshelf{
        display:flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        background-color: $dark-dark;
        >div{
            flex: 15%;
            display: flex;
            max-height: 10rem;
            max-width: 10rem;
            height: inherit;
            align-content: flex-end;
            background-color: $dark-dark;
            vertical-align: bottom;
            position: relative;
            //margin: 0.5rem 0;
            //padding: 0 0.5rem;
            border-bottom: 0.5rem solid $dark;
            align-content: center;
        }
        >div a{
            display:flex;
            align-content: flex-end;
            box-sizing: border-box;
            max-height: 100%;
            max-width: 100%;
        }
        >div img{
            box-sizing: border-box;
            max-height: 100%;
            max-width: 100%;
            margin:0;
            padding: 1rem 1rem 0 1rem;
        }
        
        i{
            color:$tag;
        }
    }
}


// Others-----------------------------------------------------------------------

.select-style select{
    padding: 5px 8px;
    width: 100%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    appearance: none;
}
.select-style select:focus {
    outline: none;
}

// POPUP Window
.book-window-overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    &:target{
        visibility: visible;
        opacity: 1;
    }
    .book-window-popup{
        display:flex;
        margin: 5rem 5rem;
        background: #fff;
        border: 1px solid #666;
        box-shadow: 0 0 50px rgba(0,0,0,0.5);
        position: relative;
        .image-container{
            flex:1;
            flex-basis:30%;
            background-image: url(../assets/images/books/b1.jpg);
            background-size: auto;
            background-position: center;
            min-height: 350px;

        }
        >div{
            flex:1;
            flex-basis:70%;
            padding: 1rem;
            
        }
        >div div{
            display: inline;
            background-color: $category-tag-background;
            border: 0.1rem solid $category-tag;
            border-right: 0.2rem solid $category-tag;
            font-size: 100%;
        }
        div h1{
            font-size: 100%;
        }
        div h4{
            font-size: 100%;
            color: $tag;
        }
        div p{
            font-size: 100%;
        }
        a{
            font-size: 100%;
        }
    }
    
}

.close {
    position: absolute;
    width: 1rem;
    height: 1rem;
    top: 0.2rem;
    right: 0.2rem;
    opacity: 0.8;
    transition: all 200ms;
    font-weight: bold;
    font-size: 6vw;
    text-decoration: none;
    color: #666;
  }

@media(max-width:900px){
    .content .bookshelf >div{
        flex: 50%;
    }
    .book-window-popup{
        flex-direction: column;
        margin:0;
    }
}

@media(max-width:700px){
    .header-nav ul{
        grid-template-columns: 1fr;
    }
    .book-window-popup{
        flex-direction: column;
        margin:0;
        padding:0;
    }
}

@media(max-width:500px){
    .header-main{
        grid-template-columns: 1fr;
        justify-content: center;
        grid-gap:0;
        .logotype{
            grid-column: 1fr;
            justify-content: center;
            p{
                display:none
            }
        }
        .user-dropdown{
            grid-column: 1fr;
            justify-content: center;
            width:100%;
            i{
                display:none;
            }
            p{
                text-align: center;
                padding:0;
            }
        }
        
    }
}

