#bookshelf {
  height: calc(100%-79.63px);
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(5, 1fr);
  padding: 0 4.06rem;
  background-color: #F5F6F8;
  height: -webkit-fill-available;
}
#bookshelf .book-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin-bottom: 2.99rem;
  height: 317.09px;
}
#bookshelf >.book-container >.image-container {
  flex: 1;
  width: 176px;
  height: 250px;
}
#bookshelf >.book-container >.image-container img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border-radius: 2%;
}
#bookshelf >.book-container >.caption {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 176px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#bookshelf >.book-container >.caption .title {
  width: 100%;
  font-size: 0.819em;
  margin: 0;
  margin-top: 14.1px;
  color: #231F20;
}
#bookshelf >.book-container >.caption >.authors {
  color: #9E9E9E;
  width: 100%;
  margin: 0;
  color: #9E9E9E;
  font-size: 0.819rem;
  font-family: "plutoc";
  margin-top: 3px;
}
#bookshelf >.book-container >.caption >.stars {
  width: 100%;
  margin: 0;
  margin-top: 5px;
  font-size: 0.69em;
  color: #6EC1E4;
}

#bookshelf .book-container-list {
  grid-column: 1/6;
  width: 100%;
  display: flex;
  margin-bottom: 2.99rem;
}
#bookshelf .book-container-list .image-container {
  flex-basis: 20%;
  width: 176px;
  height: 250px;
}
#bookshelf .book-container-list .image-container img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border-radius: 2%;
}
#bookshelf .book-container-list .caption {
  padding-left: 3rem;
  flex-basis: 80%;
  display: flex;
  flex-direction: column;
  width: auto;
  height: 250px;
}
#bookshelf .book-container-list .caption .title {
  width: 100%;
  font-size: 1.2em;
  margin: 0;
  margin-top: 14.1px;
  color: #231F20;
}
#bookshelf .book-container-list .caption .authors {
  color: #9E9E9E;
  width: 100%;
  margin: 0;
  color: #9E9E9E;
  font-size: 0.819rem;
  font-family: "plutoc";
  margin-top: 3px;
}

#bookshelf .book-container-list .borrowDate {
  margin: 0;
  font-size: 0.9em;
  margin-top: 2px;
}

#bookshelf .book-container-list .caption .stars {
  width: 100%;
  margin: 0;
  margin-top: 5px;
  font-size: 0.69em;
  color: #6EC1E4;
}
#bookshelf .book-container-list .caption .description {
  white-space: pre-line;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 60px;
}
#bookshelf .book-container-list .caption .available {
  color: #6EC1E4;
  margin: 5px 0;
}
#bookshelf .book-container-list .caption .not-available {
  color: #231F20;
  margin: 5px 0;
}
#bookshelf .book-container-list .caption .btn {
  background-color: #6EC1E4;
  width: 20%;
  border-color: white;
  color: white;
  text-decoration: none;
  text-align: center;
}
#bookshelf .book-container-list .caption .btn:hover {
  cursor: pointer;
}
#bookshelf .book-container-list .caption .pagination {
  color: #9E9E9E;
  width: 100%;
  margin: 0;
  color: #9E9E9E;
  font-size: 0.819rem;
  margin-top: 3px;
}

.lent {
  display: block;
  position: relative;
  float: right;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  z-index: 2;
}
.lent-i {
  position: absolute;
  z-index: 3;
  left: 3.82rem;
  top: -13.24rem;
  color: white;
}
.lent::after {
  width: 3.3rem;
  height: 2.48rem;
  content: "";
  left: 2.6rem;
  top: -13.7rem;
  display: block;
  position: absolute;
  color: #FFF;
  background-image: url(../assets/images/Available.svg);
}

#loading {
  grid-column: 3/4;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 4;
}
.popup_inner {
  position: relative;
  box-sizing: border-box;
  margin: 5% 5%;
  background: white;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}

.popup_inner .image-container {
  grid-column: 1/4;
  min-height: 400px;
  padding: 0;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-size: cover;
}
.popup_inner .caption {
  grid-column: 4/11;
  
  display: inline;
  background-color: #FFF;
  font-size: 100%;
  padding: 2%;
}
.popup_inner .caption .title {
  width: 100%;
  font-size: 1.2em;
  margin: 0;
  margin-top: 14.1px;
  color: #231F20;
}
.popup_inner .caption .authors {
  color: #9E9E9E;
  width: 100%;
  margin: 0;
  color: #9E9E9E;
  font-size: 1.2rem;
  font-family: "plutoc";
  margin-top: 3px;
}
.popup_inner .caption .stars {
  width: 100%;
  margin: 10px 0;
  margin-top: 5px;
  font-size: 1em;
  color: #6EC1E4;
}
.popup_inner .caption .description {
  white-space: pre-line;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 300px;
}
.popup_inner .caption .available {
  color: #6EC1E4;
  margin: 5px 0;
}
.popup_inner .caption .not-available {
  color: #231F20;
  margin: 5px 0;
}
.popup_inner .caption .btn {
  background-color: #231F20;
  text-decoration: none;
  height: 2rem;
  width: 6rem;
  padding: 0.5rem;
  color: #FFFFFF;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  line-height: 2rem;
}

.popup_inner .caption .pagination {
  color: #9E9E9E;
  width: 100%;
  margin: 0;
  color: #9E9E9E;
  font-size: 1em;
  margin-top: 3px;
}

.close {
  position: absolute;
  width: 1rem;
  height: 1rem;
  top: 0rem;
  right: 0.7rem;
  opacity: 0.8;
  transition: all 200ms;
  font-weight: bold;
  font-size: 2em;
  text-decoration: none;
  color: #9E9E9E;
  cursor: pointer;
}

@media (max-width: 1500px) {
  #bookshelf {
    grid-template-columns: repeat(auto-fit, minmax(196px, 1fr));
  }
}

@media (max-width: 700px) {
  #bookshelf {
    height: auto;
    padding: 0 2%;
  }
  #bookshelf .book-container-list {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #bookshelf .book-container-list .caption{
    flex-direction: column;
    padding: 0;
  }
  #bookshelf .book-container-list .caption .btn{
    align-self: center;
  }
  #bookshelf .book-container-list .caption .description{
    display: none;
  }
}

@media (max-width: 900px) {
  .popup_inner .image-container {
    display: none;
  }
  .popup_inner .caption{
    grid-column: 1/11;
  }
}