$white : #FFF;
$dark:  #231F20;
$shadow: rgba(19, 17, 17, 0.274);
$blue: #6EC1E4;
$blue-light: #F5F6F8;
$gray: #D8D8D8;
$gray-dark: #9E9E9E;
$content-background: #F5F6F8;

@font-face {
  font-family: 'fontawesome_r';
  src: URL('./fonts/Font\ Awesome\ 5\ Free-Regular-400.otf') format('opentype');
}

@font-face {
  font-family: 'fontawesome_s';
  src: URL('./fonts/Font\ Awesome\ 5\ Free-Solid-900.otf') format('opentype');
}

@font-face {
  font-family: 'fontawesome_b';
  src: URL('./fonts/Font\ Awesome\ 5\ Brands-Regular-400.otf') format('opentype');
}

@font-face {
  font-family: 'pluto';
  src: URL('./fonts/HVD\ Fonts\ -\ PlutoSansRegular.otf') format('opentype');
}

@font-face {
  font-family: 'pluto_m';
  src: URL('./fonts/HVD\ Fonts\ -\ PlutoSansMedium.otf') format('opentype');
}

@font-face {
  font-family: 'pluto_b';
  src: URL('./fonts/HVD\ Fonts\ -\ PlutoSansBold.otf') format('opentype');
}


@font-face {
  font-family: 'pluto_bl';
  src: URL('./fonts/HVD\ Fonts\ -\ PlutoSansBlack.otf') format('opentype');
}

@font-face {
  font-family: 'pluto_h';
  src: URL('./fonts/HVD\ Fonts\ -\ PlutoSansHeavy.otf') format('opentype');
}

@font-face {
  font-family: 'pluto_l';
  src: URL('./fonts/HVD\ Fonts\ -\ PlutoSansLight.otf') format('opentype');
}

@font-face {
  font-family: 'pluto_el';
  src: URL('./fonts/HVD\ Fonts\ -\ PlutoSansExtraLight.otf') format('opentype');
}

@font-face {
  font-family: 'pluto_t';
  src: URL('./fonts/HVD\ Fonts\ -\ PlutoSansThin.otf') format('opentype');
}

@font-face {
  font-family: 'plutoc';
  src: URL('./fonts/HVD\ Fonts\ -\ PlutoSansCondRegular.otf') format('opentype');
}

@font-face {
  font-family: 'plutoc_m';
  src: URL('./fonts/HVD\ Fonts\ -\ PlutoSansCondMedium.otf') format('opentype');
}

@font-face {
  font-family: 'plutoc_b';
  src: URL('./fonts/HVD\ Fonts\ -\ PlutoSansCondBold.otf') format('opentype');
}


@font-face {
  font-family: 'plutoc_bl';
  src: URL('./fonts/HVD\ Fonts\ -\ PlutoSansCondBlack.otf') format('opentype');
}

@font-face {
  font-family: 'plutoc_h';
  src: URL('./fonts/HVD\ Fonts\ -\ PlutoSansCondHeavy.otf') format('opentype');
}

@font-face {
  font-family: 'plutoc_l';
  src: URL('./fonts/HVD\ Fonts\ -\ PlutoSansCondLight.otf') format('opentype');
}

@font-face {
  font-family: 'plutoc_el';
  src: URL('./fonts/HVD\ Fonts\ -\ PlutoSansCondExLight.otf') format('opentype');
}

@font-face {
  font-family: 'plutoc_t';
  src: URL('./fonts/HVD\ Fonts\ -\ PlutoSansCondThin.otf') format('opentype');
}



html, body,{
  height: 100%;
  margin: 0;
  font-family: 'pluto';
  background-color: $dark;
}

.fas {
  font-family: 'fontawesome_s';
}
.far {
  font-family: 'fontawesome_r';
}
.fab {
  font-family: 'fontawesome_b';
}

#wrapper {
  height: 100%;
}

#header-bar {
  width: 100%;
  height: 5rem;
  background-color: white;
  border-bottom: 1px $blue solid;
  display: flex;
  #logo {
    flex: 240;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    img {
      height:58%;
      padding-right: 0.7rem;
    }
    p {
      color: $dark;
      font-family: 'pluto_h';
      font-size: 1.68em;
      padding-top: 0.15rem;
      margin-right:0.1rem
    }
  }
  #search {
    flex: 1160;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      font-size: 1.5em;
      padding-left: 1.4rem;
      font-family: "pluto";
      padding-top: 0.1rem;
    }
    div {
      position: relative;
      margin-right: 1.47rem;
      width: 25.7%;
      height: 42%;
      color: $dark;
      i {
        position: absolute;
        top: 0.55rem;
        left: 0.75rem;
        font-size: 18px;
        color: $dark;
      }
      input {
        width: 100%;
        height: 100%;
        padding: 0;
        text-indent: 2.27rem;
        border-radius: 1.3rem 0.98rem 0.98rem 0.98rem;
        border: 1px #6EC1E4 solid;
        font-family: "pluto_l";
        font-size: 0.87em;
        &:focus{
          outline: none;
        }
        &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
          color: $dark;
          opacity: 1; /* Firefox */
      }
      }
    }
  }
  #login-container {
    flex: 240;
    display: flex;
    align-items: center;
    #separator {
      height: 62.5%;
      width: 1px;
      background-color: $gray;
    }
    #login {
      flex-grow: 1;
      display: flex;
      flex-flow: row-reverse;
      align-items: center;
      height: 100%;
      img {
        height:44%;
        width: 2.25rem;
        margin-right: 1.2rem;
        margin-top: 0.13rem;
        border-radius: 50%;
        border: 2px $blue solid;
      }
      i {
        padding-right: 0.95rem;
        color: $dark;
        font-size: 0.9em;
      }
      p {
        color: #231F20;
        font-size: 0.77em;
        padding-top: 0.14rem;
        padding-right: 0.72rem;
        font-family: "pluto_l";
      }
    }  
  }

}

#content {
  height: 100%;
  display: flex;
  background-color: $content-background;
  #sidebar-left {
    flex: 240;
    height: 100%;
    background-color: $dark;
    padding-right: 0;
    padding-top: 2.2rem;
    font-size: 100%;
    box-sizing: border-box;
    font-family: "plutoc";
    p {
      margin : 0;
      color: $white;
      font-weight: bold;
      font-size: 0.78em;
      padding-left: 2.425rem;
    }
    
    ul {
      padding: 0;
      margin: 8.35% 0 23% 0;
      padding-left: 2.425rem;
    }
    
    li {
      margin:0;
      text-decoration: none;
      list-style: none;
      align-items: center;
      color: $blue;
      font-size: 0.75em;
      padding-left: 0.1rem;
      margin-bottom: 1.35rem;
    }
    
    li > a {
      padding: 0;
      text-decoration: none;
      color: inherit;
      display:flex;
      justify-content: space-between;
      width: 100%;
      i {
        flex-basis: 10%;
        font-size: 1.25em;
        padding-top: 0.07rem;
      }
      span {
        flex-basis: 85%;
        line-height: 1.2rem;
        font-size: 1.2em;
        vertical-align: middle;
        padding-left: 0.75rem;
      }
    }
    
    li > a:hover {
      text-decoration: none;
      color: $white;
      background-color: $dark;
    }

    li > a:focus {
      color: $white;
      background-color: $dark;
    }
  }
    
  #content-main {
    flex: 1160;
    height: 100%;
    background-color: white;
    #bookshelf-header{
      display: flex;
      padding: 0.22rem 2rem 0 2rem;
      align-content: center;
      align-items: center;
      font-family: "plutoc_t";
      font-size: 1.21em;
      div {
        display: flex;
        padding-right: 2.99rem;
      }
      span {
        color: $blue;
        padding-left: 0.45rem;
        padding-bottom: 0.1rem;
      }
      span:hover{
        color: $dark;
      }
      i{
        color: inherit;
        font-size: 95%;
      }
    }

    #selectedBookshelf {
      flex: 90%;
      color: $dark;
      padding-left: 3.11rem;
      margin-bottom: 1.665rem;
    }

    #bookshelf {
      display: grid;
      grid-gap:0px;
      grid-template-columns: repeat(5,1fr);
      padding: 0 4.06rem;
      background-color: $content-background;
      .book-container {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        margin-bottom: 2.99rem;
        .image-container {
          flex: 1;
          width: 176px;
          height: 250px;
          img {
            width: 100%;
            height: 100%;
            margin: 0 auto;
            border-radius: 2%;
          }
        }
        .caption {
          flex: 1;
          display: flex;
          flex-direction: column;
          width: 176px;
          white-space: nowrap; 
          overflow: hidden;
          text-overflow: ellipsis;
          .title {
            width: 100%;
            font-size: 0.819em;
            margin: 0;
            margin-top: 14.1px;         
            color: $dark;
          }
          .authors {
            color: $gray-dark;
            width: 100%;
            margin: 0;
            color: #9E9E9E;
            font-size: 0.819rem;
            font-family: "plutoc";
            margin-top: 3px;

          }
          .stars {
            width: 100%;
            margin: 0;
            margin-top: 5px;
            font-size: 0.69em;
            color: $blue;
          }
        }
      }
      .book-container-list{
        grid-column: 1/6;
        width:100%;
        display: flex;
        margin-bottom: 2.99rem;
        .image-container {
          flex-basis:20%;
          width: 176px;
          height: 250px;
          img {
            width: 100%;
            height: 100%;
            margin: 0 auto;
            border-radius: 2%;
          }
        }
        .caption {
          padding-left: 3rem;
          flex-basis:80%;
          display: flex;
          flex-direction: column;
          width: auto;
          height: 250px;
          
          .title {
            width: 100%;
            font-size: 1.2em;
            margin: 0;
            margin-top: 14.1px;         
            color: $dark;
          }
          .authors {
            color: $gray-dark;
            width: 100%;
            margin: 0;
            color: #9E9E9E;
            font-size: 0.819rem;
            font-family: "plutoc";
            margin-top: 3px;
          }
          .stars {
            width: 100%;
            margin: 0;
            margin-top: 5px;
            font-size: 0.69em;
            color: $blue;
          }
          .description {
            white-space: pre-line; 
            overflow: hidden;
            text-overflow: ellipsis;
            max-height: 60px;
          }
          .available {
            color: $blue;
            margin: 5px 0;
          }
          .not-available {
            color: $dark;
            margin: 5px 0;
          }
          .btn {
            background-color: $dark;
            background-color: $blue;
            width: 20%;
            border-color: white;
            color: white;
          }
          .pagination {
            color: $gray-dark;
            width: 100%;
            margin: 0;
            color: #9E9E9E;
            font-size: 0.819rem;
            margin-top: 3px;

          }
        }
      }
    }
    .lended {
      display: block;
      position: relative;
      float: right;
      width: 0;
      height: 0;
      padding: 0;
      margin: 0;
      z-index: 2;
  
    }
    .lended-i {
      position: absolute;
      z-index: 3;
      left: 3.82rem;
      top: -13.24rem;
      color: white;
    }
    .lended::after {
      width: 3.3rem;
      height: 2.48rem;
      content: "";
      left: 2.6rem;
      top: -13.7rem;
      display: block;
      position: absolute;
      color: #FFF;
      background-image: url(../assets/images/Available.svg);
    }
  }
  
  #sidebar-right {
    flex: 240;
    height: 100%;
    background-color: $dark;
    font-size: 100%;
    p {
      margin : 0;
      color: $gray;
      font-weight: bold;
      padding:0;
      margin:0;
      padding: 2.28rem 0 0 2.1rem;
      font-size: 0.8em;
      font-family: "plutoc";
    }
    ol {
      padding-left: 2.878rem;
      padding-top: 0.8rem;
      font-size: 0.82em;
      font-family: "plutoc";
    }
    li {
      color: $gray;
      margin-bottom: 1.63rem;
    }

    a {
      text-decoration: none;
      color: inherit;
      
    }
  }
}

// POPUP Window
.book-window-overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  &:target{
      visibility: visible;
      opacity: 1;
  }
  .book-window-popup{
      display:flex;
      margin: 5rem 5rem;
      background: #fff;
      border: 1px solid #666;
      box-shadow: 0 0 50px rgba(0,0,0,0.5);
      position: relative;
      z-index:4;
      .image-container{
        flex-basis:30%;
        background-image: url(../assets/images/books/b1.jpg);
        background-size: auto;
        background-position: center;
        min-height: 350px;
        padding:0;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .caption {
        flex-basis:70%;
        display: inline;
        background-color: $white;
        font-size: 100%;
        padding: 2%;
        .title {
          width: 100%;
          font-size: 1.2em;
          margin: 0;
          margin-top: 14.1px;         
          color: $dark;
        }
        .authors {
          color: $gray-dark;
          width: 100%;
          margin: 0;
          color: #9E9E9E;
          font-size: 1.2rem;
          font-family: "plutoc";
          margin-top: 3px;
        }
        .stars {
          width: 100%;
          margin: 10px 0;
          margin-top: 5px;
          font-size: 0.69em;
          color: $blue;
        }
        .description {
          white-space: pre-line; 
          overflow: hidden;
          text-overflow: ellipsis;
          max-height: 400px;
        }
        .available {
          color: $blue;
          margin: 5px 0;
        }
        .not-available {
          color: $dark;
          margin: 5px 0;
        }
        .btn {
          background-color: $dark;
          background-color: $blue;
          width: 20%;
          border-color: white;
          color: white;
        }
        .pagination {
          color: $gray-dark;
          width: 100%;
          margin: 0;
          color: #9E9E9E;
          font-size: 1em;
          margin-top: 3px;

        }
      }
  }
  
}

.close {
  position: absolute;
  width: 1rem;
  height: 1rem;
  top: 0rem;
  right: 0.7rem;
  opacity: 0.8;
  transition: all 200ms;
  font-weight: bold;
  font-size: 2em;
  text-decoration: none;
  color: $gray-dark;
}

@media(max-width:750px){
  .book-window-popup {
    display: flex;
    flex-direction: column;
  }
  
}

@media(max-width:900px){

  #header-bar {
    margin: 0;
    
    #logo {
      p{
      display:none
      }
      img{
        padding:0;
        margin-right: 0 0.5rem;
      }
    }
    #search {
      align-items: center;
      justify-content: center;
      div {
        flex-basis: 100%;
      }
      p {
        display: none;
      }
    }
    #login-container {
      #separator {
        display:  none;
      }
    }
    #login {
      p, i, div{
        display: none;
      }
      img {
        margin:0;
      }
    }
  }
  #content {
    flex-direction: column;
    #left-sidebar {
      flex-basis:100%;
      height: auto;
    }
    #content-main {
      flex-basis:100%;
      height: auto;
    }
    #right-sidebar {
      flex-basis:auto;
    }
  }
}

@media(max-width:1350px){
  #content #content-main #bookshelf {
    grid-template-columns: repeat(auto-fit,minmax(176px,1fr))
  } 
}
